<nav class="navbar navbar-dark bg-dark">
  <!-- <a class="navbar-brand" href="#">
    <div class="container justify-content-center">8 é par</div>
  </a> -->
  <div class="mx-auto order-0">
    <a class="navbar-brand mx-auto" href="#">Universipraia 2k21</a>
  </div>
</nav>
<div class="container">
  <div class="mt-4">
    <h2>
      É um prazer tê-la aqui! Se você chegou até aqui, agora ficou fácil achar
      quem estava procurando.
    </h2>
  </div>
  <div class="row">
    <div class="col-auto">
      <div class="card text-center mt-5" style="width: 18rem">
        <img
          class="card-img-top"
          src=".\assets\instabernardo.png"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">@bezm</h5>
          <p class="card-text mb-0">Floripa</p>
          <p class="card-text">UFSC</p>

          <a
            href="https://www.instagram.com/bezm/"
            class="btn btn-primary stretched-link"
            >Instagram</a
          >
        </div>
      </div>
    </div>
    <div class="col-auto">
      <div class="card mt-5 text-center" style="width: 18rem">
        <img
          class="card-img-top"
          src=".\assets\instabm.png"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">@brunomoritzd</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a
            href="https://www.instagram.com/brunomoritzd/"
            class="btn btn-primary stretched-link"
            >Instagram</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
