<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#"> Bem vindos ao 8 é par </a>
</nav>
<div class="container">
  <div class="mt-4">
    <h2>Parabéns por ter chego até aqui! Escolha o seu participante.</h2>
  </div>
  <div class="row">
    <div class="col-auto">
      <div class="card mt-5" style="width: 18rem">
        <img
          class="card-img-top"
          src=".\assets\instabernardo.png"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">@bezm</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-auto">
      <div class="card mt-5" style="width: 18rem">
        <img
          class="card-img-top"
          src=".\assets\instabm.png"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">@bm</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>
